@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.carrusel {
  width: 100%;
  height: 40em;
  padding: 20px;
  margin: 20px 0;
}
.carrusel h2 {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
}

.destinos {
  box-shadow: 0px 0px 20px rgba(40, 40, 40, 0.8392156863);
  height: 100%;
  overflow: hidden;
}
.destinos .destino {
  height: 100%;
  position: relative;
  max-width: 120em;
  padding: 20px;
}
.destinos .destino .tarjeta {
  height: 100%;
}
.destinos .destino .flechas {
  height: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

i {
  color: #ffffff;
  font-size: 30px;
}

#tarjeta1 {
  background: url("../img/destino_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tarjeta2 {
  background: url("../img/destino2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tarjeta3 {
  background: url("../img/destino3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: #f3f2f0;
  font-family: "Shantell Sans", cursive;
  font-size: 18px;
}

header {
  background: url("../img/fondo_playa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 45em;
}
header nav {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 30px;
  border-bottom: 1px solid #cacaca;
}
header nav .logo {
  align-content: center;
  width: 200px;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.3em;
}
header nav .logo img {
  width: 50px;
  height: 50px;
  display: inline-flex;
}
header nav .logo h1 {
  display: inline-flex;
}
header nav .menu {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .menu li {
  display: box;
  margin-right: 20px;
  padding: 10px;
  border-radius: 30px;
}
header nav .menu li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}
header nav .menu .signin {
  background: #025988;
  border-radius: 5px;
  padding: 15px;
}
header section {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  padding: 50px 40px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  height: 90%;
}
header section form {
  padding: 60px;
  height: 90%;
  border-radius: 40px;
  border: 1px solid black;
  box-shadow: 0 0 15px rgba(34, 34, 34, 0.8196078431);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header section form input, header section form button {
  height: 12.5%;
  display: block;
  margin-bottom: 10px;
  border-radius: 9px;
  border: 1px solid #222;
}
header section form input {
  padding: 10px;
  width: calc(100% - 20px);
}
header section form button {
  padding: 7px;
  font-size: 1.2em;
  background-color: #fff;
}
header section form .titulo-form {
  display: block;
  width: 100%;
  padding-bottom: 40px;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
}
header section .info {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px;
  color: #ffffff;
  border-radius: 25px;
}
header section .info h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
}
header section .info p {
  text-align: center;
  font-size: 1.2em;
}

.contacto {
  margin-top: 10%;
}

footer {
  margin-top: 2em;
  text-align: center;
}/*# sourceMappingURL=estilos.css.map */